html, body { 
    font-family: monospace, Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: ghostwhite;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.dim{
    color: gray;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    margin-bottom: 0.63rem;
    font-size: 1.25rem;
}

.container{
    border: 1px solid skyblue;
    height: 5cm;
    width: auto;
    font-size: 9.35rem;
    align-items: center;
    background: skyblue;
    color: ghostwhite;
    text-align: center;
}

.large-input{
    width: 80%; 
    max-width: 600px;
    height: 1.5rem;
    font-size: 1rem; 
    padding: 1.25rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.button{
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    height: 3.5rem;
    width: 50%;
    font-size: 1.5rem;
    background: rgb(189, 19, 87);
    padding: 1rem;
    color: whitesmoke;
    cursor: pointer;
}

.signIn{
    border: 1px solid ghostwhite;
    height: 1cm;
    width: 3cm;
    background: ghostwhite;
    color: black;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.25rem;
}

.guest{
    border: 1px solid ghostwhite;
    height: 1cm;
    width: 3cm;
    background: ghostwhite;
    color: rgb(6, 97, 194);
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.25rem;
    margin-left: 80rem;
}
