html, body { 
    font-family: monospace;
    font-size: 20px;
  } 

    .center {
        margin: 0 auto; /* Centers the block horizontally */
        width: 50%; /* Adjust the width as needed */
        text-align: center; /* Centers the text inside */
    }

.container{
    border: 1px solid skyblue;
    height: 5cm;
    width: auto;
    font-size: 150px;
    align-items: center;
    background: skyblue;
    color: antiquewhite;
    text-align: center;
}

input.form-control {
    width: 50%; /* Adjust the width as needed */
    max-width: 400px; /* Optional: set a maximum width */
    height: 40px; /* Increase height */
    font-size: 16px; /* Adjust the font size */
    padding: 10px; /* Adjust padding for better spacing */
    box-sizing: border-box; /* Ensures padding doesn't affect the width */
}
