html, body { 
    font-family: monospace, Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: ghostwhite;
} 

.dim{
    color: gray;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    margin-bottom: 10px;
}

.container{
    border: 1px solid skyblue;
    height: 5cm;
    width: auto;
    font-size: 150px;
    align-items: center;
    background: skyblue;
    color: ghostwhite;
    text-align: center;
}

.large-input{
    width: 100%; 
    max-width: 1000px;
    height: 30px;
    font-size: 16px; 
    padding: 20px;
    box-sizing: border-box;
}

input.form-control {
    width: 100%;
    max-width: 1000px;
    height: 30px;
    font-size: 16px; 
    padding: 20px;
    box-sizing: border-box;
}

.button{
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    height: 1cm;
    width: 8cm;
    font-size: 25px;
    background: rgb(189, 19, 87);
    padding: 15px;
    color: whitesmoke;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.signIn{
    border: 1px solid white;
    height: 1cm;
    width: 3cm;
    background: ghostwhite;
    color: black;
    cursor: pointer;
    font-weight: bolder;
    font-size: 20px;
}
